*{
    transition: all .2s ease-in-out;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Caveat', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
}

h1::selection, h2::selection, p::selection{
    background: rgba(0, 0, 0, 0.34);
}

ul{
    list-style: none;
}

.heading-bold{
    font-family: 'Teko', sans-serif;
    font-size: 5em;
}

.white-text{
    color: white;
}

.black-text{
    color: black;
}

.center{
    text-align: center;
}

.wrapper {
	padding: 0 5vw 3vh 5vw;
    position: relative;
}

.header_ask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    background: black;
}

.menu_section {
	height: 30vh;
    padding-top: 15vh;
    position: relative;
}

.menu_section::after {
	display: block;
    content: "";
    height: 1px;
    width: 20vw;
    margin-left: 35vw;
    margin-top: 5vh;
    background: black;
}

.menu {
	position: absolute;
    width: 70vw;
    left: 10vw;
}

.menu-list {
	display: inline-block;
}

.menu-list_p1 {
	float: left;
}

.menu-list_p2 {
	float: right;
}

.menu-list li{
	display: inline-block;
    margin: 0 2vw;
}

.logo_top {
	height: 5vh;
    background: url(images/cult_logo_black.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.header_heading1 {
    font-size: 3em;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    line-height: 90vh;
    cursor: default;
}
